<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100">
    <a href="{% url 'catalog:home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Меню</span>
    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-2">
            <a href="{% url 'catalog:home' %}" class="nav-link text-white">
                Главная
            </a>
        </li>
        <li class="mb-2">
            <a href="{% url 'catalog:product_create' %}" class="nav-link text-white">
                Добавить товар
            </a>
        </li>
        <li class="mb-2">
            <a href="{% url 'catalog:contacts' %}" class="nav-link text-white">
                Контакты
            </a>
        </li>
        <li class="mb-2">
            <a href="{% url 'blog:post_list' %}" class="nav-link text-white">
                Блог
            </a>
        </li>
        <li class="mb-2">
            <a href="{% url 'blog:post_create' %}" class="nav-link text-white">
                Новая статья
            </a>
        </li>
    </ul>

    <hr>

    <div class="border rounded p-3 bg-secondary bg-opacity-10">
        {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}" class="d-block small text-white mb-2 text-decoration-none">
                Профиль
            </a>

            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link small text-decoration-none mb-2" style="color: dark !important;">
                    Выход
                </button>
            </form>

            <div class="small fw-semibold text-white">{{ user.email }}</div>
        {% else %}
            <a href="{% url 'users:login' %}" class="d-block small text-white mb-2 text-decoration-none">
                Вход
            </a>
            <a href="{% url 'users:register' %}" class="d-block small text-white text-decoration-none">
                Регистрация
            </a>
        {% endif %}
    </div>
</div>