{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Skystore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body class="bg-light">

<div class="d-flex min-vh-100">
    <aside class="bg-dark text-white d-flex flex-column flex-shrink-0 p-3 min-vh-100" style="width: 220px;">
    <a href="/" class="d-flex align-items-center mb-4 text-white text-decoration-none">
        <span class="fs-5">Меню</span>
    </a>

    <ul class="nav nav-pills flex-column mb-auto gap-1">
        <li class="nav-item">
            <a href="{% url 'catalog:home' %}" class="nav-link active">Главная</a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">Категории</a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">Заказы</a>
        </li>
        <li>
            <a href="{% url 'catalog:contacts' %}" class="nav-link text-white">Контакты</a>
        </li>
    </ul>

    <div class="mt-auto pt-3">
        <div class="card bg-secondary border-secondary text-white">
            <div class="card-body p-3">
                <div class="small mb-2">Профиль</div>
                <div class="small mb-2">Выход</div>
                <div class="small fw-semibold">Пользователь &gt;</div>
            </div>
        </div>
    </div>
</aside>

    <main class="flex-grow-1 p-4 p-lg-5">
        {% block content %}{% endblock %}
    </main>
</div>

</body>
</html>